.page-container {
  display: flex;
  flex-direction: row;
}

.nav-container {
  flex:2;
  background-color: #eee;
}

.nav-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 50px;
}

.nav-container li a {
  display: block;
  padding: 15px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin:20px 40px;
  transition: 0.5s;
}

.nav-container li a.hover {
  background-color: rgb(255, 121, 121);
}

.nav-container li a:hover {
  background-color: rgb(255, 121, 121);
  transition: 0.5s;
}


.content-container {
   flex:8
}